PORT=<number>
DATABASE_URL=<string>
DATABASE_URL_DEV=<string>
DATABASE_URL_TEST=<string>
DOCKER_DB_PASSWORD=<string>
DOCKER_DB_USER=<string>
DOCKER_DB_NAME=<string>
NODE_ENV=<development | production | test>
X_API_KEY=<string>
JWT_SECRET=<string>
JWT_REFRESH_SECRET=<string>